:root {
    --accent: #9b0808;
    --primary: #0b5196;
    --primary-light: #61a7ec;
    --primary-dark: #05223d;
    --secondary: #fbe200;
    --secondary-light: #fff388;
    --secondary-dark: #3f3900;
    --neutral: #a2a2a2;
    --neutral-dark: #1a1a1a;
    --neutral-light: #fff;
    --success: #8dd751;
    --success-dark: #1a3404;

    --border-width: 1px;

    --page-margin: 10px;
}

*:not(div:has(.uc-visual-drop-area) *) {
    z-index: 0;
    color: var(--text-color);
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
}

body {
    --h: 100vh;

    display: flex;
    flex-direction: column;

    height: var(--h);

    overflow-x: hidden;
    overflow-y: auto;

    margin: 0;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--background-color);
}

body[data-theme*="dark"] {
    --border-color: var(--neutral-light);
    
    --text-color: var(--neutral-light);
    --text-contrast-color: var(--neutral-light);
}

body[data-theme*="light"] {
    --border-color: var(--neutral-dark);
    
    --text-color: var(--neutral-dark);
    --text-contrast-color: var(--neutral-dark);
}

body[data-theme="land-dark"] {
    --background-color: color-mix(in srgb, var(--secondary-dark), black 70%);
}

body[data-theme="land-light"] {
    --background-color: color-mix(in srgb, var(--secondary-light), white 70%);
}

body[data-theme="sea-dark"] {
    --background-color: var(--primary-dark);
}

body[data-theme="sea-light"] {
    --background-color: color-mix(in srgb, var(--primary-light), black 70%);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

dialog * {
    color: var(--base-text-color);
}