:root {
    /*  Follows the tokens defined in the PenPot file:
            - https://design.penpot.app/#/workspace?team-id=9529fedc-e097-80ce-8008-648354c60462&file-id=9529fedc-e097-80ce-8008-6483893adb97&page-id=9529fedc-e097-80ce-8008-6483893adb98&board-id=8f2f5877-217e-8035-8008-6d98d44c3027&layout=tokens
    */

    /*#region Colors*/
    --accent: #9b0808;

    --primary: #0b5196;
    --primary-light: #61a7ec;
    --primary-dark: #05223d;

    --secondary: #fbe200;
    --secondary-light: #fff388;
    --secondary-dark: #3f3900;

    --neutral: #a2a2a2;
    --neutral-dark: #1a1a1a;
    --neutral-light: #fff;

    --success: #8dd751;
    --success-dark: #1a3404;
    /*#endregion*/
    
    /*#region Spacing*/
    --border-width: 1px;
    
    --page-margin: 10px;
    /*#endregion*/
}

*:not(div:has(.uc-visual-drop-area) *) {
    z-index: 0;
    color: var(--text-color);
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
}

body {
    --h: 100vh;
    --w: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: var(--h);
    width: var(--w);

    overflow-x: hidden;
    overflow-y: auto;

    margin: 0;

    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    background-color: var(--background-color);
}

body[data-theme*="dark"] {
    --base-text-color: var(--neutral-light);

    --border-color: var(--neutral-light);
    
    --text-color: var(--neutral-light);
    --text-contrast-color: var(--neutral-light);
}

body[data-theme*="light"] {
    --base-text-color: var(--neutral-dark);

    --border-color: var(--neutral-dark);
    
    --text-color: var(--neutral-dark);
    --text-contrast-color: var(--neutral-dark);
}

body[data-theme="land-dark"] {
    --background-color: color-mix(in srgb, var(--secondary-dark), black 70%);
}

body[data-theme="land-light"] {
    --background-color: color-mix(in srgb, var(--secondary-light), white 70%);
}

body[data-theme="sea-dark"] {
    --background-color: var(--primary-dark);
}

body[data-theme="sea-light"] {
    --background-color: color-mix(in srgb, var(--primary-light), black 70%);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

dialog * {
    color: var(--base-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Climate Crisis", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "YEAR" 1979;
}

h1 {
    font-size: 17.942rem;
}

h2 {
    font-size: 11.089rem;
}

h3 {
    font-size: 6.854rem;
}

h4 {
    font-size: 3.436rem;
}

h5 {
    font-size: 2.618rem;
}

h6 {
    font-size: 1.618rem;
}

p {
    font-size: 1rem;
}

/*#region Media*/
@media only screen and (min-width: 344px) {
    body #root {
        width: 95vw;
    }
}

@media only screen and (min-width: 428px) {
    body #root {
        width: 70vw;
    }
}

@media only screen and (min-width: 768px) {
    body #root {
        width: 80vw;
    }
}

@media only screen and (min-width: 1366px) {
    body #root {
        width: 60vw;
    }
}
/*#endregion*/