main>section {
    padding: var(--section-padding, 32px);

    border: 1px solid var(--section-border-color, var(--base-section-border-color));
    border-radius: 12px;

    background-color: var(--section-background-color, var(--base-section-background-color));
}

/*#region Theme specifications =========================== */
[data-theme="LAND-DARK"] section {
    --base-section-border-color: transparent;
    --base-section-background-color: color-mix(in srgb, var(--secondary-dark), black 40%);
}

[data-theme="SEA-DARK"] section {
    --base-section-border-color: transparent;
    --base-section-background-color: color-mix(in srgb, var(--primary-dark), black 40%);
}

[data-theme*="LIGHT"] section {
    --base-section-border-color: color-mix(in srgb, var(--primary-dark), black 40%);
    --base-section-background-color: transparent;
}
/*#endregion*/

/*#region Media =========================================== */
@media only screen and (min-width: 344px) {}

@media only screen and (min-width: 428px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1366px) {}

/*#endregion*/