table {
    border: 1px solid var(--table-border-color);
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 12px;
    overflow: hidden;
}

table th,
table td {
    @apply px-3;
    
    border-color: var(--table-cell-border-color, var(--base-table-cell-border-color));
    border-style: var(--table-cell-border-style, solid);
}

table th {
    border-bottom-width: 1px;
}

table tfoot tr td {
    border-top-width: 1px;
}

/*#region Theme specifications ============================ */
/*#region DARK*/
[data-theme*="LIGHT"] table {
    --processed-color: color-mix(in srgb, var(--primary-dark), black 40%);

    --table-border-color: var(--processed-color);
    --base-table-cell-border-color: var(--processed-color);
}
/*#endregion*/

/*#region LIGHT*/
[data-theme="LAND-DARK"] table {
    --table-border-color: var(--secondary);
    --base-table-cell-border-color: var(--secondary);
}

[data-theme="SEA-DARK"] table {
    --table-border-color: var(--primary-light);
    --base-table-cell-border-color: var(--primary-light);
}
/*#endregion*/
/*#region Theme specifications ============================ */