.page {
    @apply m-auto;

    height: -webkit-fill-available;
}

.page main[data-view="panel"] {
    grid-template-columns: 1fr 1fr;
}

.forgot,
.login,
.signup {
    composes: page;
}

/*#region Section*/
.section {
    @apply flex flex-col justify-center items-center gap-2 w-full;
    grid-area: form;
    background-color: var(--base-background);
    border: var(--border-width) solid var(--border-color);
    border-radius: 12px;
}

.section label,
.section label span,
.section button[data-variant="text"],
.section input,
.section textarea,
.section select {
    font-size: 12px;
}

.section a,
.section ul li {
    font-size: 12px;
}

.section header p {
    @apply my-2;
    opacity: 0.7;
}

.section hr {
    --height: 1px;
    --width: 100%;

    background-color: var(--secondary);
    height: var(--height);
    min-height: var(--height);
    max-height: var(--height);
    width: var(--width);
    opacity: 0.7;
}

.section form {
    @apply flex flex-col justify-start items-start w-full;

    gap: 12px;
}

.section fieldset {
    @apply flex flex-col justify-center items-start gap-4 w-full;
}

.section fieldset *:not(button[data-variant="text"]) {
    @apply w-full;
}

.section ul {
    @apply flex flex-col justify-start items-start gap-1;
}

.section ul li {
    @apply italic;
    padding: 0px 5px;
    border-radius: 5px;
}
/*#endregion*/

.panel {
    height: -webkit-fill-available;
    grid-area: panel;
    border-radius: 12px;
    background-color: beige;
}

.message {
    text-align: center;
    grid-area: message;
}

.oauth {
    height: -webkit-fill-available;
    grid-area: oauth;
}

@media only screen and (min-width: 344px) {}

@media only screen and (min-width: 428px) {}

@media only screen and (min-width: 768px) {

    .login,
    .signup,
    .forgot {
        display: grid;
        gap: 32px;
    }

    .login,
    .forgot {
        grid-template-columns: 1fr 1fr;
    }

    .forgot {
        grid-template-areas:
            "panel  form"
        ;
    }

    .login,
    .signup {
        --main-page-height: auto;

        align-items: start;
        justify-content: center;
        grid-template-rows: repeat(3, min-content);
    }

    .login {
        grid-template-areas:
            "panel  form"
            "panel  message"
            "panel  oauth"
        ;
    }

    .signup {
        grid-template-columns: 1fr;
        grid-template-areas:
            "form"
            "message"
            "oauth"
        ;
    }
}

@media only screen and (min-width: 1366px) {}