/*#region Root variables ================================== */
:root {
    --progress-bar-height: 3px;
}

/*#endregion*/

/*#region Progress ======================================== */
.progress {
    --h: var(--progress-bar-height);

    @apply flex flex-row justify-start items-center;

    overflow: hidden;
    
    min-width: 200px;

    height: var(--h);
    max-height: var(--h);
    min-height: var(--h);

    border-radius: 52px;

    background-color: var(--progress-background-color);
}

.progress>div {
    --h: 100%;

    position: relative;

    height: var(--h);
    max-height: var(--h);
    min-height: var(--h);

    background-color: var(--value-background-color);
}

/*#endregion*/

/*#region Modes =========================================== */
@keyframes pulse-width {
    from {
        transform: scaleX(1);
    }

    to {
        transform: scaleX(0.96);
        /* oscillates to 70% of current width */
    }
}


.animated div {
    animation: pulse-width 0.6s infinite alternate ease-in-out;
    transform-origin: left;
}

/*#endregion*/

/*#region Variants ======================================== */
/*#region Danger*/
.danger {
    composes: progress;
}

[data-theme*="DARK"] .danger {
    --progress-background-color: color-mix(in srgb, var(--accent), var(--neutral-light) 50%);
    --value-background-color: var(--secondary);
}

[data-theme*="LIGHT"] .danger {
    --progress-background-color: color-mix(in srgb, var(--accent), var(--neutral-dark) 60%);
    --value-background-color: var(--accent);
}
/*#endregion*/

/*#region Important*/
.important {
    composes: progress;
}
/*#endregion*/

/*#region Primary*/
.primary {
    composes: progress;

    --progress-background-color: color-mix(in srgb, var(--secondary), white 80%);
    --value-background-color: var(--primary);
}
/*#endregion*/

/*#region Secondary*/
.secondary {
    composes: progress;
}
/*#endregion*/

/*#region Selected*/
.selected {
    composes: progress;
}
/*#endregion*/

/*#region Success*/
.success {
    composes: progress;
}
/*#endregion*/

/*#region Warning*/
.warning {
    composes: progress;
}
/*#endregion*/

/*#endregion*/