/*#region Tag ============================================= */
.tag {
    @apply flex flex-row justify-center items-center gap-2;
    
    width: max-content;
    padding: var(--tag-padding-y, 2px) var(--tag-padding-x, 5px);

    border-color: var(--tag-border-color, var(--base-border-color));
    border-width: var(--tag-border-width, var(--border-width));
    border-style: var(--tag-border-style, solid);
    border-radius: var(--tag-border-radius, 5px);

    color: var(--tag-text-color, var(--text-color));
    
    background-color: var(--tag-background-color, transparent);
  
    font-weight: 600;
}

.tag * {
    color: inherit;
}
/*#endregion*/

/*#region Variants ======================================== */
/*#region Danger*/
.danger {
    composes: tag;

    --tag-background-color: #fee2e2;
    --tag-border-color: #f87171;
    --tag-text-color: #7f1d1d;
}
/*#endregion*/

/*#region Important*/
.important {
    composes: tag;
}
/*#endregion*/

/*#region Primary*/
.primary {
    composes: tag;

    --tag-background-color: var(--primary-light);
    --tag-border-color: var(--primary-light);
    --tag-text-color: var(--primary-dark);
}

.primary:hover {
    --tag-background-color: var(--primary-dark);
    --tag-text-color: var(--secondary);
}
/*#endregion*/

/*#region Secondary*/
.secondary {
    composes: tag;

    --tag-border-color: var(--primary-light);
    --tag-text-color: var(--primary-light);
}

.secondary:hover {
    --tag-background-color: var(--primary-dark);
    --tag-border-color: var(--primary-dark);
}

[data-theme*="LIGHT"] .secondary:hover {
    --tag-background-color: var(--primary);
    --tag-border-color: var(--primary);
    --tag-text-color: var(--neutral-light);
}

[data-theme="LAND-DARK"] .secondary:hover {
    --tag-background-color: var(--secondary);
    --tag-text-color: var(--secondary-dark);
}

[data-theme*="LIGHT"] .secondary {
    --tag-border-color: var(--primary-dark);
    --tag-text-color: var(--primary-dark);
}

[data-theme="LAND-DARK"] .secondary {
    --tag-border-color: var(--secondary);
    --tag-text-color: var(--secondary);
}
/*#endregion*/

/*#region Selected*/
.selected {
    composes: tag;
}

[data-theme*="DARK"] .selected {
    --tag-background-color: var(--primary-light);
    --tag-border-color: var(--secondary);
    --tag-text-color: var(--primary-dark);
}

[data-theme*="LIGHT"] .selected {
    --tag-background-color: var(--primary-dark);
    --tag-border-color: var(--primary-dark);
    --tag-text-color: var(--secondary);
}
/*#endregion*/

/*#region Success*/
.success {
    composes: tag;
}

[data-theme*="DARK"] .success {
    --tag-background-color: var(--success-dark);
    --tag-border-color: var(--success);
    --tag-text-color: var(--success);
}
/*#endregion*/

/*#region Warning*/
.warning {
    composes: tag;
}

[data-theme*="DARK"] .warning {
    --tag-background-color: var(--secondary);
    --tag-border-style: dotted;
    --tag-border-color: var(--secondary-dark);
    --tag-text-color: var(--secondary-dark);
}
/*#endregion*/
/*#endregion*/