.table {
    --img-size: 152px;

    --row-height: 52px;

    background-color: var(--background-color);
}

.wrapper {
    --row-height: 52px;

    position: fixed;
    z-index: var(--wrapper-z-index, 10);
    top: 0px;

    transform: var(--wrapper-offsets, -100%);

    max-height: var(--wrapper-max-height);
    width: 100%;

    -ms-overflow-style: none;
    /* Hides scrollbar in IE and Edge */
    -moz-overflow-style: none;
    /* Hides scrollbar in IE and Edge */
    -webkit-overflow-style: none;
    /* Hides scrollbar in IE and Edge */
    scrollbar-width: none;
    /* Hides scrollbar in Firefox */

    overflow: auto;
}

.wrapper[data-visible] {
    --wrapper-offsets: translateY(calc(-100% + 70px + var(--row-height)));
    --wrapper-max-height: calc(100% - var(--row-height));
}

.wrapper[data-visible] table {
    width: var(--table-width, 100%);
}

.wrapper[data-expanded][data-visible] {
    --h: 100%;

    --wrapper-max-height: var(--h);
    --wrapper-offsets: translateY(0px);
    --wrapper-z-index: 13;

    @apply flex flex-col justify-center items-center;

    gap: 32px; 

    height: var(--h);

    background-color: var(--background-color);
}

.table div[class*="card"] {
    border: none;
    border-radius: 0px;
    padding: 0px;
}

.table tbody tr[data-row="restaurant"],
.table tfoot tr:first-child {
    height: var(--row-height);
    min-height: var(--row-height);
    max-height: var(--row-height);
}

.table tfoot tr:first-child {
    border-top: var(--table-row-border-width, var(--border-width)) solid var(--border-color);
}

.table tfoot tr:last-child {
    border-bottom: var(--table-row-border-width, var(--border-width)) solid var(--border-color);
}

.table tbody tr[data-row="restaurant"] {
    background-color: var(--secondary);
}

.table tbody tr[data-row="restaurant"] span {
    @apply font-bold;
    color: var(--base-text-contrast-color);
    font-size: 1.3em;
}

.table tr td {
    @apply px-4;
}

.table tr:has(div[class*="card"]) td:first-child {
    border-right: var(--table-row-border-width, var(--border-width)) solid var(--border-color);
}

.table tfoot td[data-section],
.table tr td:has(div[class*="card"]) {
    @apply py-4;
}

.table td[data-section="summary"] {}

.table td[data-section="summary"] div[data-type="thumbnail"] {
    height: 52px;
    width: var(--img-size);
    border-radius: 12px;
}

.table td[data-section="chat"] {}

.table td[data-section="history"] {}

.order {
    composes: table;
}

.order tfoot tr:first-child {
    border-bottom: var(--table-row-border-width, var(--border-width)) solid var(--border-color);
}

.order tfoot tr:last-child {
    border-top: var(--table-row-border-width, var(--border-width)) solid var(--border-color);
}

.summary {
    --table-row-border-width: 0px;
}

.summary tbody tr td {
    @apply pb-4
}

@media only screen and (min-width: 344px) {}

@media only screen and (min-width: 428px) {}

@media only screen and (min-width: 768px) {
    .wrapper[data-expanded][data-visible] table {
        --table-width: 70%;
    }
}

@media only screen and (min-width: 1366px) {}