.grid {
    composes: grid from "../grid.module.css";
}

.filter-bar {
    @apply flex flex-col justify-start items-start;
}

@media only screen and (min-width: 344px) {
    .grid {
        grid-template-columns: repeat(2, minmax(220px, 1fr));
    }
}

@media only screen and (min-width: 428px) {
    .grid {
        grid-template-columns: repeat(2, minmax(252px, 1fr));
    }
}

@media only screen and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }

    .search-filter {
        width: 100%;
    }
}

@media only screen and (min-width: 1366px) {}