.nav {
    @apply flex flex-row items-center gap-4;

    position: relative;
    z-index: 11 !important;

    grid-area: application-nav;

    padding: var(--base-padding);

    background-color: var(--secondary);
}

[data-theme*="dark"] .nav * {
    color: var(--neutral-dark);
}

.nav #login {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.nav #sign-up {
    border-right-width: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#root[data-page="events"] .nav {
    background-color: black;
}

@media only screen and (max-width: 750px) {
    .nav {
        @apply justify-center;
    }

    .nav *:not([data-text="title"]) {
        display: none;
    }
}

@media only screen and (min-width: 751px) {
    .nav {
        @apply justify-start;
    }
}