.nav {
    --h: 70px;
    --text-color: var(--neutral-dark);

    @apply flex flex-row items-center px-2;

    height: var(--h);
    max-height: var(--h);
    min-height: var(--h);
    
    grid-area: application-nav;
    pointer-events: var(--nav-pointer-events, all);

    position: relative;
    z-index: 11;
    
    gap: 12px;

    background-color: var(--nav-background-color, var(--secondary));

    opacity: var(--nav-opacity, 1);
}

[data-page="events"] .nav {
    --text-color: var(--neutral-light);
    --nav-background-color: black;
}

@media only screen and (min-width: 344px) {}

@media only screen and (min-width: 428px) {
    .nav {
        @apply justify-center;
    }
}

@media only screen and (min-width: 768px) {
    .nav {
        @apply justify-start;
    }
}

@media only screen and (min-width: 1366px) {}

@media only screen and (max-width: 750px) {}

@media only screen and (min-width: 751px) {}