.checkout {
    @apply flex flex-col justify-start items-start;

    gap: 48px;

    height: calc(100% - 70px);
}

.checkout > header {
    @apply flex flex-row justify-between items-center flex-nowrap w-full;

    gap: 12px;
}

.checkout form {
    @apply flex flex-col justify-start items-start;

    width: 100%;

    gap: 32px;
}

.checkout form > fieldset {
    @apply flex flex-col justify-start items-start;
    
    gap: 24px;

    width: inherit;
}

.checkout form > fieldset > legend {
    margin-bottom: 12px;
}

.checkout > section {
    @apply flex flex-col justify-start items-start;

    width: 100%;
}

@media only screen and (min-width: 344px) {}

@media only screen and (min-width: 428px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1366px) {}