.horizontal {
    @apply flex flex-row flex-wrap items-center justify-start;

    gap: 4px;

    height: var(--height);
    max-height: var(--height);
    min-height: var(--height);
}

.picker button * {
    pointer-events: none;
}